{% extends 'employee_register/base.html' %}



{% block content %}

<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Mbile</th>
            {% comment %} <th scope="col">EMP-Code</th> {% endcomment %}
            <th scope="col">Position</th>
            <th><a href="{% url 'employee_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus">Add New</i>
                </a>
            <th>
        </tr>
    </thead>
    <tbody>
        {% for emp in employee_list %}
        <tr>
            <td>{{emp.fullname}}</td>
            <td>{{emp.mobile}}</td>
            <td>{{emp.position}}</td>
            <td><a href="{% url 'employee_update' emp.id %}" class="btn text-secondary px-0">
                    <i class='fas fa-edit' style='font-size:24px'></i>
                </a>
                <form action="{% url 'employee_delete' emp.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn"><i class="far fa-trash-alt fa-lg text-danger float-right"></i></button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}